$mainColor: #BF9575;
$mainColorText: #4D727E;
$otherColorText: #4A4A4A;

$mainSizeFont: 10px;

$durationTransition: 0.5s;

$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;

@function darker($color, $tone) {
	$adjust: -16*$tone;
	@return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

html,
body {
	height: 100%;
}

html {
	font-size: 10px;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Rockwell"; /* Имя шрифта */
	src: url('../fonts/Rockwell.ttf'); /* Путь к файлу со шрифтом */
}



/* Прижать футер */
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	.content {
		flex: 1 0 auto;
		overflow: hidden;
	}
	.footer {
		flex: 0 0 auto;
	}
}



iframe{
	display: block;
}
h1 {
}
h2 {
	font-family: Tenor Sans;
	font-size: $mainSizeFont * 4.8;
	line-height: 140%;
	color: $mainColorText;
}
p {

}