.btn {
	background: linear-gradient(180deg, #E1BA9D 0%, #BF9575 100%);
	border: 0px;
	border-radius: 100px;

	font-family: Tenor Sans;
	padding: 14px 45px;
	font-size: $mainSizeFont * 1.8;
	line-height: 140%;
	text-align: center;
	color: #FFFFFF;
	&:focus {
		outline: none;
	}
	&:hover {
		color: #fff;
	}
}







.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 50px;
		height: 50px;
		background-color: $mainTextColor;
		border-radius: 100%;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}






