.modal-content {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 32px 40px;
	max-width: 570px;
	position: relative;
	.close {
		opacity: 1;
		position: absolute;
		right: 16px; top: 16px;
		line-height: 0;
		span {
			color: #303030;
			font-size: 24px;
		}
	}
	.modal-header {
		padding: 0;
		border-bottom: 0;
		span {
			font-weight: bold;
			font-size: 36px;
			line-height: 45px;
			color: #303030;
			display: block;
			width: 100%;
			text-align: center;
		}
	}
	.modal-body {
		padding: 0;
		input {
			width: 100%;
		}
	}
}