.footer {
	padding: 80px 0;
	background-color: $mainColorText;
}
.social {
	display: flex;
	align-items: center;
}
.logo_footer {
	fill: #fff;
}
.tel {
	color: #fff;
	font-size: $mainSizeFont * 1.8;
	line-height: 150%;
	&:hover {
		color: $mainColor;
	}
}
