extends base.pug
block content
	section(class="welcome")
		div(class="container position-absolute h-100")
			div(class="row h-100")
				div(class="welcome__content col-12 col-lg-6 offset-lg-6 d-flex flex-column justify-content-center align-items-start")
					h1()
						| Детские вигвамы
					img(class="mt-3 lazyload" data-src="images/welcome_text.svg" alt="img")
					p(class="mt-3 mb-5")
						span(class="price")
							| 4 490 ₽
						span(class="pl-4")
							| за комплект
					button(class="btn" data-toggle="modal" data-target="#modalCall")
						| Заказать
		img(class="welcome__bg w-100 lazyload" data-src="images/welcome_bg.png" alt="image")
		<svg id="welcome__line"  width="600" height="100%" viewBox="0 0 497 945" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path  stroke-width="5" d="M468.5 -4C450 21 403.5 138.5 403.5 212.5C403.5 286.5 417.5 356 445.5 407.5C473.5 459 495.5 499.5 496 555C496.5 610.5 477 652 450.5 683C434.689 701.496 414.285 722.802 378.5 744C354.306 758.332 323.354 773.407 281 784.5C239.881 795.269 152.5 800 104 824C55.5 848 10 888.5 1 944" fill="none" stroke="#fff"/>
		</svg>
	section(class="five" id="five")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="text-center")
						| 5 причин заказать у нас
			div(class="row justify-content-center")
				div(class="col-lg-4 pb-5 d-flex justify-content-center")
					div(class="five__item")
						div(class="five__item__view")
							img(class="lazyload" data-src="images/cloud.png" alt="img")
							img(class="five_1 lazyload " data-src="images/trip1.png" alt="img")
						h3
							| Индивидуальность
						p
							| Индивидуальный подбор ткани и пошив
				div(class="col-lg-4 pb-5 d-flex justify-content-center")
					div(class="five__item")
						div(class="five__item__view")
							img(class="lazyload" data-src="images/cloud.png" alt="img")
							img(class="five_1 lazyload " data-src="images/trip2.png" alt="img")
						h3
							| Долговечность
						p
							| Качественная ткань обеспечит долгий срок службы
				div(class="col-lg-4 pb-5 d-flex justify-content-center")
					div(class="five__item")
						div(class="five__item__view")
							img(class="lazyload" data-src="images/cloud.png" alt="img")
							img(class="five_1 lazyload " data-src="images/trip3.png" alt="img")
						h3
							| Ручная работа
						p
							| Вигвамы ручной работы
				div(class="col-lg-4 pb-5 d-flex justify-content-center")
					div(class="five__item")
						div(class="five__item__view")
							img(class="lazyload" data-src="images/cloud.png" alt="img")
							img(class="five_1 lazyload " data-src="images/trip4.png" alt="img")
						h3
							| Простота конструкции
						p
							| Легкая система складывания помогает сэкономить место
				div(class="col-lg-4 pb-5 d-flex justify-content-center")
					div(class="five__item")
						div(class="five__item__view")
							img(class="lazyload" data-src="images/cloud.png" alt="img")
							img(class="five_1 lazyload " data-src="images/trip5.png" alt="img")
						h3
							| Экологичность
						p
							| Используется только 100% хлопок
	section(class="home")
		img(class="home__line lazyload" data-src="images/line_1.svg" alt="img")
		div(class="container")
			div(class="row")
				div(class=" home__left col-12 col-lg-6 position-relative")
					svg( id="home__svg" stroke="#bf9575" stroke-width="0.1" width="100%" height="450" viewBox="0 0 192.73 99.99")
						pattern(id="pattern" width="100%" height="100%" )
							image(class="svg__img" xlink:href="images/formask.png" style="opacity: 0;" width="100%" height="100%")
						<g fill="url(#pattern)"  >
							<path  d="M105.92,3.48c1-.63,1.11-.63,1.68.23.09.14.13.38.26.45a1.94,1.94,0,0,0,.79.22.84.84,0,0,0,.46-.23A11.51,11.51,0,0,1,111,2.63a6.49,6.49,0,0,0,2.12-1.2c.67.22,1.3.37,1.89.62a14.17,14.17,0,0,1,1.45.86c.06,0,.14,0,.16-.06a2,2,0,0,1,2.42-1.25,7.31,7.31,0,0,0,3.78-.47c.22.28.4.5.57.73a2.34,2.34,0,0,1,2,.69,3.56,3.56,0,0,0,.63-.71c.21-.41.31-.88.5-1.31.06-.15.23-.26.3-.34.93,0,1.8-.08,2.67-.1a1.57,1.57,0,0,1,.69.1,4.75,4.75,0,0,0,3.11.14,2.45,2.45,0,0,1,2,.37,2,2,0,0,0,1.82.35,12.4,12.4,0,0,1,2.28-.21,4.87,4.87,0,0,1,1,.22c.28.05.6.2.84.12a7.19,7.19,0,0,1,3-.14A2.22,2.22,0,0,0,145.8.72a8.81,8.81,0,0,1,1.11-.55,2,2,0,0,1,1.55,0,39.93,39.93,0,0,0,6.65,1.66A8.73,8.73,0,0,1,159,3.24a1,1,0,0,0,1.29,0c.78-.65,1.79-.54,2.66-.87a1.18,1.18,0,0,1,1,.22,2.94,2.94,0,0,0,2.7.62c1.13,1.49,2.76,1.64,4.44,1.58a30.9,30.9,0,0,0,3.34-.27,1.41,1.41,0,0,1,1.6.77c.5.86,1.31,1.56,1.07,2.59.38.37.9.63.91.92a2.58,2.58,0,0,0,1,1.76,1.18,1.18,0,0,1,.33.42c.43,1.34.85,2.69,1.23,4.05.19.68-.53,1-.77,1.59.06.41.13.87.18,1.34a2.81,2.81,0,0,1-.33,2,1.58,1.58,0,0,0-.24,1.52c.37.85-.23,1.46-.43,2.18-.26.9-1,1.05-1.7,1.2a2.61,2.61,0,0,0-.45,2.69L175.44,30c-.79,0-1.53,0-2.27,0-.36,0-.54.5-.32.83.39.59.82,1.15,1.19,1.75a.66.66,0,0,1-.25.92,1.91,1.91,0,0,1-.32.16l-4.35,1.49a.33.33,0,0,1-.17,0,4,4,0,0,0-2.8.75c-.24.19-.69.1-1,.18a4.94,4.94,0,0,0-2.94,1.23,3.23,3.23,0,0,0,0,.64c.11.81-.93,1.47-.3,2.34l1.42,1.93a7.3,7.3,0,0,0,1.32,0c1.22-.21,2.44-.42,3.64-.74a3.62,3.62,0,0,1,3.34.69c0,.41,0,.82,0,1.22a.82.82,0,0,0,.65.74,1.51,1.51,0,0,0,.35.06,12.77,12.77,0,0,1,7,2.71c1.59,1.11,3.27,2.1,4.91,3.14a.82.82,0,0,1,.43.93,11.2,11.2,0,0,0-1.18.24.53.53,0,0,0-.27.4.57.57,0,0,0,.21.45,1.61,1.61,0,0,0,.81.28,14.59,14.59,0,0,0,2.08-.36,4.32,4.32,0,0,1,3.09.31c-.14.26-.28.5-.4.75s-.21.42-.36.75c1.5.35,2.39,1.59,3.86,2.26a5.83,5.83,0,0,1-2.57,1.33c-1.41.41-2.84.76-4.27,1.14a12.34,12.34,0,0,0-3.32,1.2,1.61,1.61,0,0,1-.65.27,10.29,10.29,0,0,0-3.72,1.53,3.58,3.58,0,0,1-.82.32c-.6.16-.84,0-1.09-.76,0-.11-.09-.21-.17-.41-.62-.1-1.39-.11-1.58-1,0-.1-.15-.18-.24-.25a.6.6,0,0,0-1,.27,1.88,1.88,0,0,0,0,1.38,1.56,1.56,0,0,0,1.37.78c-.09.41-.35.86-.23,1.15a5.72,5.72,0,0,0,1.12,1.77,6.51,6.51,0,0,0,3.12,1.93,12,12,0,0,1,1.94.8c.87.37,1.75.72,2.6,1.12a7.87,7.87,0,0,1,1.53.85A1,1,0,0,1,185,71a16.3,16.3,0,0,1-1,1.37l1.5,1.06a5.82,5.82,0,0,0-.31,1.33,4.2,4.2,0,0,0,.36,1.17c-.52.78-1.49.86-2.2,1.35l-.33.84a5,5,0,0,0-3.44.18,3.48,3.48,0,0,1-1.36.3,3.07,3.07,0,0,0-2.3.55c-.37.28-1,.18-1.55.23s-.89.09-1,.53c-.27.79-1,.76-1.56.88a6.43,6.43,0,0,0-1,3.37,3.54,3.54,0,0,1-.65,2h-.83c-.08.11-.18.21-.19.3s.05.47.05.71c0,.82-.17,1.13-.9,1.3a5.23,5.23,0,0,0-2.76,1.48,1.81,1.81,0,0,1-.77.42,4.36,4.36,0,0,1-1.37.22c-.58,0-.63-.61-.82-1a.72.72,0,0,0-.36-.29,1.13,1.13,0,0,0-.41.49,5.62,5.62,0,0,0-.1.91,5.92,5.92,0,0,1-3.11-.22,3.63,3.63,0,0,1-.19-.55c-.07-.34,0-.78-.19-1a1.91,1.91,0,0,0-1.08-.53,3.9,3.9,0,0,0-3.91,1.47,2.79,2.79,0,0,1-3,1.41,1.25,1.25,0,0,0-1.13.35,1.9,1.9,0,0,0-.37.38,2.09,2.09,0,0,1-2.33.89,4.05,4.05,0,0,0-.38.63,1.65,1.65,0,0,1-1.51,1.06c-2.82.21-5.57,1-8.4,1.19-.81.07-1.64,0-2.46.09-1.63.19-3.12-.41-4.67-.69a14.11,14.11,0,0,1-5.63-2.4,4.53,4.53,0,0,0-1.65-.55,4.6,4.6,0,0,0-1.23,0c-1.54.06-3.07,0-4.6,0a28.29,28.29,0,0,0-4.58.37,13.07,13.07,0,0,0-2.34.82v1.33c-.92.27-1.78.65-2.65.06a1.28,1.28,0,0,1,0-.26c.1-.35.83-.53.39-1s-.78,0-1.13.17c-.52.27-1,.6-1.56.94a2.55,2.55,0,0,0-2.61.38c-.14.1-.29.29-.43.29-1.78,0-3.15,1.24-4.81,1.59-1,.22-2.06.55-3.1.73a7.26,7.26,0,0,1-1.92,0,2.59,2.59,0,0,0-2.34.42.85.85,0,0,1-.64.23c-1.23-.33-2.32.34-3.48.47a14.73,14.73,0,0,1-2.59.42,1.08,1.08,0,0,0-.68.17c-1.28.89-2.71.68-4.1.49a2.91,2.91,0,0,0-1.73.11,1.58,1.58,0,0,1-.68.12c-1.48-.06-3-.16-4.42-.21-1.06,0-2.12-.07-3.18,0a15.56,15.56,0,0,1-6.53-1.3,15.27,15.27,0,0,0-1.83-.64,3.2,3.2,0,0,1-1.27-.55,2.72,2.72,0,0,0-3-.3,9.36,9.36,0,0,1-1.14.46,1.59,1.59,0,0,1-.87.11c-1.2-.46-2.58-.32-3.68-1.12a1.79,1.79,0,0,0-.77-.4c-1.18-.1-1.85-1-2.66-1.65a3,3,0,0,1-.78-2.44A18.17,18.17,0,0,1,44.86,90c0-.91-.2-1.27-1.09-1.56a6,6,0,0,0-.86-.18c-.2,0-.41,0-.7-.07.59-.89,1.47-.53,2.18-.77v-3a7.85,7.85,0,0,0-3-1.41,5.27,5.27,0,0,1-2.24-1,2.58,2.58,0,0,0-2.84-.32,2.27,2.27,0,0,1-2.75-.42,6.92,6.92,0,0,1-.8-.84c-2.64-.2-5.27.39-7.79-.88-.52-1.12-1-2.49-2.88-2.2.14-.62.7-.7.94-1.06a5.19,5.19,0,0,1,1.07-.92l-1.63-1.11a11.55,11.55,0,0,0-2.36,3.13c-.67-.79-1.42-1.25-2-2a10.82,10.82,0,0,0-2.41-2,1.53,1.53,0,0,0-.84-.18c-.64,0-1.29,0-2,0l-.67.73a.58.58,0,0,1-.78.18,1.1,1.1,0,0,1-.51-.65A5.44,5.44,0,0,1,11,72.06a4.16,4.16,0,0,0-.86,0,10.4,10.4,0,0,0-1,.41,2,2,0,0,1,1.25-2.26c-.05-.44-.09-.84-.13-1.2A2.7,2.7,0,0,1,8.8,68c.26-.65,1.15-.26,1.49-1L9.77,66a2.42,2.42,0,0,0,.25-.51c.16-.61.21-1.24.91-1.59.21-.1.24-.57.42-1l-1.24.27c-.3-.46-.61-.93-1-1.52l-.76,1.19a3.47,3.47,0,0,1-.62-.56.52.52,0,0,1,.07-.48,4.39,4.39,0,0,1,3.35-1.4c.08.39.16.71.23,1a1.34,1.34,0,0,0,1.51-.2l-.54-.66c.22-.64.87-.5,1.29-.76a12.72,12.72,0,0,0,1.29-1.11l.73-.06a1.45,1.45,0,0,0,1.3-.79,2.19,2.19,0,0,1,1.82-1.22,1.8,1.8,0,0,0,1.42-.82,4.58,4.58,0,0,0-1.66-1.67,6.44,6.44,0,0,0-3.51-1,2.79,2.79,0,0,1-2.74-1.27,3.77,3.77,0,0,0-.91-.81c-1-.77-1.08-1.06-.71-2.28.1-.33.24-.65.4-1a9.3,9.3,0,0,1-1-.76,3.56,3.56,0,0,1-.71-1,.87.87,0,0,1,.43-1.19c.3-.17.62-.31.94-.47.22-.88.13-1.85,1-2.29a2.58,2.58,0,0,0-.55-1.74c-.36-.69-.29-1,.31-1.54.27-.23.55-.43.9-.7a4.8,4.8,0,0,0-.33-.61.65.65,0,0,1,0-.81,1.93,1.93,0,0,1,1.52-.8,2.38,2.38,0,0,0,1.66-.88,3.47,3.47,0,0,1,2-1c.56-.15,1.14-.28,1.69-.48a2.25,2.25,0,0,0,.88-.56c1-1.07,2-2.18,3-3.32-.72-1.72.14-2.88,1.48-3.86a2.93,2.93,0,0,0,.79-.69,2.53,2.53,0,0,1,3.19-1.11c.11,0,.24,0,.36,0s.22.05.34.07c.58,1.08.58,1.08,1.85,1.49,0-.29,0-.56.07-.84a1,1,0,0,1,1.29,0c.93,1,2,.82,3.2.6a4,4,0,0,1,2-2.42c-.71-1.07-.39-2.2-.5-3.29a1.65,1.65,0,0,1,1.12-1.65,3.11,3.11,0,0,0,1.85-1.45c-.13-.3-.29-.66-.44-1A1.06,1.06,0,0,1,40,13.89c.87-.45,1.78-.85,2.62-1.36a6.73,6.73,0,0,0,1.15-1.17c-.56-1-.25-2.21-1-3.11a5.72,5.72,0,0,1,3.08-.59,1.67,1.67,0,0,0,1.43-.46,10.88,10.88,0,0,1,1.7-1.11c-.21-.23-.35-.38-.48-.55-.44-.53-.25-1.23.38-1.32a8,8,0,0,1,2.11-.17c1.51.16,2.88-.48,4.31-.51C55.55,2.16,55.69,2,57,2c.29,0,.59,0,.89,0a2.53,2.53,0,0,1,2.44.71l1.52-.44.37-1A1.13,1.13,0,0,1,63.5.38,10.85,10.85,0,0,0,67.35.24a2.1,2.1,0,0,1,1.86.33,1.85,1.85,0,0,0,1.85.25A2.5,2.5,0,0,1,73,.9a4.2,4.2,0,0,0,1.9.12,15.32,15.32,0,0,1,5.44.19,4.75,4.75,0,0,0,1.4.16,3.48,3.48,0,0,1,1.71.35,2,2,0,0,0,1,.23A5.76,5.76,0,0,1,88.3,3c1.83-.82,3.72-.5,5.6-.47a1.34,1.34,0,0,1,1.32,1c.27.65.64,1.25,1,1.91a3.74,3.74,0,0,0,2.24.22c.11,0,.27-.11.34-.07.89.55,1.66,0,2.49-.2A2.32,2.32,0,0,0,103,4.24l.76.35a5.11,5.11,0,0,1,1-.88,4.27,4.27,0,0,1,1.2-.25,5.14,5.14,0,0,1-1.78,2.42,6.21,6.21,0,0,0,1.2-.25,1,1,0,0,0,.79-1A5.86,5.86,0,0,0,105.92,3.48Zm54,86.76c.62-.21.94-.22,1-.34a16.49,16.49,0,0,0,.5-1.83c0-.06-.13-.2-.22-.23s-.3,0-.32.06C160.55,88.53,160.3,89.17,159.87,90.24Zm18.54-29.79c-.27-.21-.43-.44-.59-.44a.71.71,0,0,0-.51.33.42.42,0,0,0,.47.55C178,60.84,178.12,60.66,178.41,60.45ZM14.9,60.7l-.18.39c.1,0,.24.13.27.1a1.45,1.45,0,0,0,.24-.35Zm7-10.06c-.33-.29-.59-.18-.8.15C21.44,51,21.72,51,21.92,50.64Zm.33,4.62.26.14s.08-.13.07-.14l-.26-.14ZM24.82,73.6l-.27-.14c0,.05-.08.14-.07.14a2.2,2.2,0,0,0,.26.15Zm-.45-21.48c.05,0,.11,0,.13,0s0-.08,0-.12-.11,0-.13,0S24.36,52.08,24.37,52.12Zm67.82-49L92.08,3s-.06.08,0,.11.07,0,.11.06ZM17.37,58.75l0,.12.11,0Zm2.28-.93-.07.09h.13ZM172.71,78.73l-.05-.14s-.11,0-.13,0,0,.09,0,.14ZM15.54,49.56l0-.13-.12,0Zm-2,17.69-.12.09.12,0Z"/>
							<path d="M6.71,93.84a3.54,3.54,0,0,0-2.23-1.62c-.31-.08-.73-.06-.85-.57.8-.29,1.61-.56,2.41-.88s1.61-.7,2.31-1c1,.37,1.83.77,2.72,1s1.45-.32,1.68-1.37H10.83a2.25,2.25,0,0,1-.87-.07.9.9,0,0,1-.5-.61.82.82,0,0,1,.48-.63,2.37,2.37,0,0,1,1.39,0,5.45,5.45,0,0,0,3.2.25c.17.13.31.18.35.27.49,1.3.57,1.36,1.85,1.34a1.43,1.43,0,0,0,.36,0c2.2-.66,4.07.6,6.13.85-.1.5-.36.47-.58.42a3.07,3.07,0,0,0-2.06.25,3,3,0,0,1-1.36.28,8.55,8.55,0,0,0-3.6.82,2.53,2.53,0,0,1-1.68.26c-.42-.11-1,.27-1.48.43-.09,0-.23,0-.31-.08-1.5-1.25-3-.69-4.41.09-.36.19-.71.41-1.06.63Z"/>
							<path d="M6.68,93.83a1.46,1.46,0,0,0,1.39.56c.93-.06,1.87,0,2.81-.06a1.55,1.55,0,0,0,.69-.07,2.11,2.11,0,0,1,2.64.35,4.22,4.22,0,0,1,4,.34,1.41,1.41,0,0,0,1.35.08c.33-.12.66-.25,1-.36.76-.25.89-.16,1.36.92a2.94,2.94,0,0,1-2.39.79,3.05,3.05,0,0,0-2.53.68l-2.48-1a1.51,1.51,0,0,0-.42.25,3.25,3.25,0,0,1-3.81.85A1.62,1.62,0,0,0,9.66,97c-.87.11-1.73.31-2.6.38s-1.88,0-2.81,0a1.14,1.14,0,0,1-.51-.13c-.61-.33-1.21-.68-1.77-1-.28-.67,0-1.22.13-1.79l0,0a14.43,14.43,0,0,1,3,.82.72.72,0,0,0,1.09-.5c.12-.38.15-.8.54-1Z"/>
							<path d="M2.1,94.54a4.11,4.11,0,0,1-2-1.07.67.67,0,0,1-.11-.6c.09-.16.42-.34.57-.28a16.71,16.71,0,0,0,3.57.7c.07,0,.13.17.25.35-.77.37-1.75.21-2.35.92Z"/>
							<path d="M12.89,84.88c-.44-.77-1-1.47-.39-2.47a8.78,8.78,0,0,1,2.11,2.06C14.12,85.26,13.5,84.94,12.89,84.88Z"/>
							<path d="M14.38,78.5a3.76,3.76,0,0,0,2.29.22.67.67,0,0,1,.56.31c.17.34-.15.51-.41.64a2.3,2.3,0,0,1-2.61-.35C14,79.12,14,78.8,14.38,78.5Z"/>
							<path d="M16.73,76.41c-.8,0-1.26-.26-1.14-.58.2-.52.67-.35,1.05-.34a1.43,1.43,0,0,1,.67.18.47.47,0,0,1,.23.39c0,.12-.22.25-.36.3A1.58,1.58,0,0,1,16.73,76.41Z"/>
							<path d="M20.15,79.35a2.2,2.2,0,0,1,.19-.52c.19-.29.35-.64.78-.59a.31.31,0,0,1,.21.23.87.87,0,0,1-.7,1C20.51,79.55,20.34,79.42,20.15,79.35Z"/>
							<path d="M16,57.52a3.29,3.29,0,0,1-.94.26.54.54,0,0,1-.51-.58c0-.27.35-.56.6-.43A4.84,4.84,0,0,1,16,57.52Z"/>
							<path d="M9.06,69.92c-.66.18-1.15.29-1.42-.35,0-.06.08-.24.15-.27C8.31,69.11,8.66,69.35,9.06,69.92Z"/>
							<path d="M6.37,87.59c-.15,0-.33.2-.45.15a3.42,3.42,0,0,1-.68-.44c.09-.12.2-.36.27-.35a2.43,2.43,0,0,1,.78.28C6.35,87.26,6.34,87.43,6.37,87.59Z"/>
							<path d="M5.19,80.68c.21.3.43.47.41.62a.61.61,0,0,1-.74.52c-.11,0-.32-.27-.3-.31A8.3,8.3,0,0,1,5.19,80.68Z"/>
							<path d="M30.94,22.83c.83-.07.83-.07,1.06.78C31.38,23.5,31.38,23.5,30.94,22.83Z"/>
							<path d="M15.59,74.32c0,.4-.26.66-.59.58-.17,0-.3-.26-.44-.41.17-.12.33-.32.52-.35S15.45,74.27,15.59,74.32Z"/>
							<path d="M11.31,79l1.33.1c-.17.84-.53,1.05-.94.62a2.5,2.5,0,0,1-.37-.75Z"/>
							<path d="M19,78.87a1,1,0,0,1-1,1.23c0-.2,0-.41.05-.49A11,11,0,0,1,19,78.87Z"/>
							<path d="M38.12,86.91c-.27.8-.58,1.1-1.28,1.06C36.92,87.29,37.33,87.12,38.12,86.91Z"/>
							<path d="M8.36,88.15a4.87,4.87,0,0,1-.37.52s-.26-.08-.27-.14a.68.68,0,0,1,0-.49c.07-.11.28-.15.43-.17S8.3,88.05,8.36,88.15Z"/>
							<path d="M11.33,78.94a3.14,3.14,0,0,1-.67.08.82.82,0,0,1-.42-.22.42.42,0,0,1,0-.3,1.12,1.12,0,0,1,.62,0c.17.09.27.33.41.51Z"/>
							<path d="M7.93,65.83c.15.24.33.45.3.48a1,1,0,0,1-.49.36s-.31-.27-.28-.33A3,3,0,0,1,7.93,65.83Z"/>
							<path d="M46.88,6.39a7.72,7.72,0,0,1-.77.36s-.24-.31-.21-.35a1.2,1.2,0,0,1,.49-.35C46.47,6,46.62,6.2,46.88,6.39Z"/>
							<path d="M42.51,11a6.1,6.1,0,0,1-.49.42s-.15-.12-.22-.18a4.51,4.51,0,0,1,.4-.47A2.82,2.82,0,0,1,42.51,11Z"/>
							<path d="M16.92,87.57c.09-.13.12-.26.2-.3.24-.11.55.09.47.29s-.16.2-.24.19A1.72,1.72,0,0,1,16.92,87.57Z"/>
							<path d="M99.18,4.56c-.19,0-.39,0-.58-.09s-.12-.1-.11-.11.13-.2.18-.19.37.12.56.18Z"/>
							<path d="M100.9,3.15a1.77,1.77,0,0,1-.16.22s-.15,0-.15,0a1.32,1.32,0,0,1,0-.28Z"/>
							<path d="M15.88,55.1l.23.18c-.07,0-.15.14-.2.13s-.16-.11-.23-.18Z"/>
							<path d="M10.9,54.14l-.14.21a1.09,1.09,0,0,1-.19-.18s0-.12.06-.12Z"/>
							<path d="M9,48.8l-.28,0c0-.06,0-.16,0-.16a1.26,1.26,0,0,1,.28,0Z"/>
							<path d="M7.45,71.76l.06.16s-.11.06-.15,0,0-.09-.06-.14Z"/>
							<path d="M14.82,77.62s-.06-.1-.05-.13.09,0,.14-.06.06.11,0,.14S14.86,77.61,14.82,77.62Z"/>
							<path d="M25.58,89.55s0,.11-.06.12-.08,0-.12,0,0-.11.06-.12S25.54,89.53,25.58,89.55Z"/>
							<path d="M29.13,90.28s0,.11-.07.12-.09,0-.13-.05,0-.12.07-.13S29.08,90.25,29.13,90.28Z"/>
							<polygon points="98.09 3.25 98 3.17 98.11 3.14 98.09 3.25"/>
							<polygon points="3.24 86.88 3.15 86.8 3.26 86.76 3.24 86.88"/>
							<polygon points="38.68 83 38.57 82.91 38.7 82.86 38.68 83"/>
							<polygon points="8.84 64.08 8.76 64.18 8.7 64.06 8.84 64.08"/>
						</g>
				div(class="col-12 pt-5 pt-lg-0 col-lg-6")
					h2
						| Домик— мечта каждого ребёнка
					p
						| Помните, как в детстве хотелось создать свой маленький уголок, детский мир, устроив шалашик из одеял и стульев? Мы облегчили нашим деткам эту задачу, создавая уютные вигвамы для игр малышей.
					p
						| Вигвам- это особенный детский мир малыша, в котором все устроено для удобства его игр, отдыха и общения с друзьями.
					button(class="btn" data-toggle="modal" data-target="#modalCall")
						| Заказать
	section(class="in__stock" id="stock")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2()
						| Есть в наличии
			div(class="row")
				div(class="col-lg-4 pb-5 pb-lg-0")
					div(class="in__stock__item")
						img(class="lazyload" data-src="images/stock1.png" alt="img")
						h3
							| Домик «Геометрия»
						p
							| 4 490
				div(class="col-lg-4 pb-5 pb-lg-0")
					div(class="in__stock__item")
						img(class="lazyload" data-src="images/stock2.png" alt="img")
						h3
							| Домик «Серый»
						p
							| 4 490
				div(class="col-lg-4 pb-5 pb-lg-0")
					div(class="in__stock__item")
						img(class="lazyload" data-src="images/stock3.png" alt="img")
						h3
							| Домик «Хорошие сны»
						p
							| 4 490
			div(class="row pt-5")
				div(class="col-12 pt-3 d-flex justify-content-center")
					button(class="btn" data-toggle="modal" data-target="#modalCall")
						| Оформить индивидуальный заказ
	section(class="working")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="text-center")
						| Процесс работы
			div(class="row")
				div(class="col-12 col-lg-4 pb-5 pb-lg-0")
					div(class="working__item")
						h3
							| Звоните нам или оставляете заявку на сайте
						p
							| Мы перезвоним вам через 15 минут и уточним детали заказа
				div(class="col-12 col-lg-4 pb-5 pb-lg-0")
					div(class="working__item")
						h3
							| Пошив вашего<br>заказа
						p
							| В течение трёх дней осуществляем пошив домика
				div(class="col-12 col-lg-4 pb-5 pb-lg-0")
					div(class="working__item")
						h3
							| Выполняем<br>доставку
						p
							| Осуществляем доставку или самовывоз
		img(class="working__img__left lazyload" data-src="images/hi.png" alt="img")
		img(class="working__img__lright lazyload" data-src="images/go.png" alt="img")
	section(class="experience" id="experience")
		img(class="home__line lazyload" data-src="images/line_2.svg" alt="img")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="text-center")
						| Доставка и оплата
			div(class="row")
				div(class="col-12 col-lg-6 pb-5 pb-lg-0 d-flex justify-content-start")
					div(class="experience__item")
						div(class="experience__item__content")
							p
								| Доставка — 250 рублей
							p
								| Самовывоз — беплатно
				div(class="col-12 col-lg-6 pb-5 pb-lg-0 d-flex justify-content-end")
					div(class="experience__item")
						div(class="experience__item__content")
							p
								| Оплата
							p(class="experience__item__description")
								| Оплата происходит в 2 этапа:
							ol()
								li()
									| Предоплата 50%
								li()
									| Остаток при получении заказа
	section(class="question")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2(class="text-center")
						| Часто задаваемые вопросы
			div(class="row justify-content-center")
				div(class="col-12 col-lg-10")
					div(id="accordion")
						div(class="card")
							div(class="card-header" id="headingOne")
								h3(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
									div
										span()
											| 1
										span()
											| Как собирается и хранится вигвам?
									img(class="question__arrow lazyload" data-src="images/arrow.svg" alt="img")
							div(id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion")
								div(class="card-body")
									| description
						div(class="card")
							div(class="card-header" id="headingTwo")
								h3(class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
									div
										span()
											| 2
										span()
											| Как стирать вигвам?
									img(class="question__arrow lazyload" data-src="images/arrow.svg" alt="img")
							div(id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion")
								div(class="card-body")
									| Детский вигвам легко снимается и стирается в стиральной машинке. Машинная стирка при 30 градусах, деликатный режим.
						div(class="card")
							div(class="card-header" id="headingThree")
								h3(class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
									div
										span()
											| 3
										span()
											| Какой материал используется для наполнителя?
									img(class="question__arrow lazyload" data-src="images/arrow.svg" alt="img")
							div(id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion")
								div(class="card-body")
									| Детский вигвам легко снимается и стирается в стиральной машинке. Машинная стирка при 30 градусах, деликатный режим.
						div(class="card")
							div(class="card-header" id="headingFour")
								h3(class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
									div
										span()
											| 4
										span()
											| Какого размера домик?
									img(class="question__arrow lazyload" data-src="images/arrow.svg" alt="img")
							div(id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion")
								div(class="card-body")
									| Детский вигвам легко снимается и стирается в стиральной машинке. Машинная стирка при 30 градусах, деликатный режим.






