/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";


.welcome {
	background-color: #F3EFE7;
	width: 100vw;
	overflow: hidden;
	position: relative;
	.container {
		z-index: 10;
		left: 50%;
		transform: translateX(-50%);
		.welcome__content {
			opacity: 0;
			@media (max-width: 991px) {
				opacity: 1;
			}
			img {
				min-height: 58px;
			}
		}
		@media (max-width: 991px) {
			position: unset!important;
			padding-top: 40px;
			padding-bottom: 40px;
			left: 0px;
			transform: translateX(0);
			order: 2;
		}
	}
	.welcome__bg {
		display: block;
		opacity: 0;
		@media (max-width: 991px) {
			width: 200%!important;
			opacity: 1;
			order: 1;
		}
	}
	#welcome__line {
		position: absolute;
		z-index: 3;
		left: 19%;
		top: 0%;
		@media (max-width: 1400px) {
			left: 13%;
		}
		@media (min-width: 1401px) and (max-width: 1600px){
			left: 16%;
		}
		@media (max-width: 991px) {
			opacity: 0;
		}
	}
	h1 {
		font-family: 'Tenor Sans', sans-serif;
		font-size: $mainSizeFont * 6;
		line-height: 140%;
		color: $mainColor;
	}
	p {
		color: $mainColorText;
		span {
			font-size: $mainSizeFont * 2;
			line-height: 140%;
		}
		.price {
			font-size: $mainSizeFont * 3.6;
			line-height: 49px;
		}
	}
	@media (max-width: 991px) {
		display: flex;
		flex-direction: column;
	}
}














.five {
	padding: 80px 0;
	h2 {
		padding-bottom: 60px;
	}
	.five__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 260px;
	}
	.five__item__view {
		position: relative;
		margin-bottom: 12px;
		.five_1 {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	h3 {
		font-family: Tenor Sans;
		font-size: $mainSizeFont * 2.2;
		line-height: 140%;
		text-align: center;
		color: $otherColorText;
		padding-bottom: 12px;
	}
	p {
		font-size: $mainSizeFont * 1.6;
		line-height: 135%;
		text-align: center;
		color: $otherColorText;
	}
	@media (max-width: 991px) {
		padding: 40px 0;
	}
}










.home {
	background-color: #F4F0E8;
	padding: 6% 0 100px 0;
	margin-top: 10%;
	position: relative;
	h2 {
		font-family: Tenor Sans;
		font-size: $mainSizeFont * 3.6;
		line-height: 135%;
		color: $mainColor;
		padding-bottom: 24px;
	}
	p {
		font-size: $mainSizeFont * 1.6;
		line-height: 150%;
		color: $otherColorText;
		padding-bottom: 24px;
		margin: 0px;
	}
	.home__line {
		display: block;
		position: absolute;
		bottom: 99%;
		right: 0%;left: -1%;
		width: 110%;
		@media (max-width: 991px) {
			bottom: 100%;
		}
	}
	.home__svg {
		//position: absolute;
	}
	.home__img {
		width: 100%;
		height: auto;
	}
	.home__left {
		margin-left: -33.3%;
		flex: 0 0 83.3%;
		max-width: 83.333%;
		@media (max-width: 991px) {
			margin-left: 0%;
		}
	}
	@media (max-width: 991px) {
		padding: 8% 0px;
	}
}




.in__stock {
	padding: 80px 0 40px 0;
	h2 {
		padding-bottom: 40px;
		text-align: center;
	}
	@media (max-width: 991px) {
		padding: 40px 0 20px 0;
	}
}
.in__stock__item {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	overflow: hidden;
	img {
		display: block;
		width: 100%;
		margin-bottom: 24px;
	}
	h3 {
		font-family: Tenor Sans;
		font-size: $mainSizeFont * 2.2;
		line-height: 140%;
		text-align: center;
		color: $otherColorText;
	}
	p {
		font-size: $mainSizeFont * 3.6;
		line-height: 49px;
		color: $mainColor;
		padding-bottom: 20px;
		text-align: center;
		margin: 0px;
	}
}














.working {
	padding: 40px 0 120px 0;
	position: relative;
	z-index: 1;
	h2 {
		padding-bottom: 42px;
	}
	.working__item {
		border: 2px dashed $mainColor;
		border-radius: 15px;
		padding: 32px 10px;
		h3 {
			font-family: 'Tenor Sans', sans-serif;
			font-size: $mainSizeFont * 2.2;
			line-height: 120%;
			text-align: center;
			color: $otherColorText;
			margin: 0px;
			padding-bottom: 16px;
		}
		p {
			font-size: $mainSizeFont * 1.6;
			line-height: 135%;
			text-align: center;
			color: $otherColorText;
			margin: 0px;
			width: 80%;
			margin: 0 auto;
		}
	}
	.working__img__left {
		position: absolute;
		left: 3%;
		bottom: -28%;
		@media (max-width: 1700px) {
			display: none;
		}
	}
	.working__img__lright {
		position: absolute;
		right: 0%;
		bottom: -30%;
		@media (max-width: 1700px) {
			display: none;
		}
	}
	@media (max-width: 991px) {
		padding: 40px 0 80px 0;
	}
}











.experience {
	background-color: #A6B8BE;
	padding: 6% 0 100px 0;
	margin-top: 7%;
	z-index: 2;
	position: relative;
	.home__line {
		display: block;
		position: absolute;
		bottom: 99%;
		 right: 0%;left: -1%;
		width: 110%;
		z-index: 10;
	}
	h2 {
		color: #fff;
		padding-bottom: 50px;
	}
	.experience__item {
		border: 2px solid #DDCBBD;
		box-sizing: border-box;
		border-radius: 15px;
		max-width: 490px;
		width: 100%;
		padding: 10px;
	}
	.experience__item__content {
		width: 100%;
		background: #FFFFFF;
		border-radius: 15px;
		padding: 30px 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		@media (max-width: 991px) {
			padding: 30px 20px;
		}
	}
	p {
		font-family: 'Tenor Sans', sans-serif;
		font-size: $mainSizeFont * 2.2;
		line-height: 120%;
		color: $otherColorText;
		padding: 16px 0px;
		&:first-child {
			padding-top: 0px;
		}
		&:last-child {
			padding: 0px;
		}
	}
	ul {
		margin: 0px;
		padding: 0px;
	}
	li, .experience__item__description {
		font-size: $mainSizeFont * 1.6;
		line-height: 150%;
		color: $otherColorText;
	}
	.experience__item__description {
		padding: 0px;
	}
	@media (max-width: 991px) {
		padding: 40px 0 50px 0;
	}

}

















.question {
	padding: 80px 0;
	h2 {
		padding-bottom: 42px;
	}
	.card {
		border: 0px;
		border-bottom: 2px solid $mainColorText;
	}
	.card-header {
		background-color: unset;
		border: 0px;
		h3 {
			display: flex;
			justify-content: space-between;
			color: $mainColorText;
			span {
				&:first-child {
					font-weight: bold;
					font-size: $mainSizeFont * 3.6;
					line-height: 49px;
					padding-right: 24px;

				}
				&:last-child {
					font-family: 'Tenor Sans', sans-serif;
					font-size: $mainSizeFont * 2.4;
					line-height: 28px;
					color: $otherColorText;
				}
			}
			.question__arrow {
				cursor: pointer;
				transform: scale(1, -1);
				transition: $durationTransition;
			}
			&.collapsed {
				.question__arrow {
					transform: scale(1, 1);
				}
			}
		}
	}
	.card-body {
		font-size: $mainSizeFont * 1.6;
		line-height: 150%;
		color: $otherColorText;
	}
	@media (max-width: 991px) {
		padding: 40px 0;
	}
}