.header {
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
	top: 0px; right: 0px; left: 0px;
	z-index: 1000;
	padding: 32px 0 20px 0;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	&.bg-dark {
		.navigation__item {
			color: #fff;
		}
	}
}
.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;

		display: flex;
		align-items: center;

		@media (min-width: 1580px) {
			margin-right: -240px;
		}
	}
	.navigation__item {
		margin: 0 12px;
		font-size: $mainSizeFont * 1.8;
		line-height: 140%;
		padding-bottom: 12px;
		color: $mainColorText;
		border-bottom: 3px solid transparent;
		transition: $durationTransition;
		&:hover {
			border-bottom: 3px solid $mainColor;
			transition: $durationTransition;
		}
		&.active {
			border-bottom: 3px solid $mainColor;
			transition: $durationTransition;
		}
	}
	.btn {
		width: 240px;
		height: 49px;

		background: linear-gradient(180deg, #E1BA9D 0%, #BF9575 100%);
		border-radius: 100px;

		font-family: Tenor Sans;
		font-size: $mainSizeFont * 1.8;
		line-height: 140%;
		text-align: center;
		color: #FFFFFF;

		margin-left: 24px;
	}
	@media (max-width: 991px) {
		opacity: 1;
	}
}
.navigation__mobile {
	display: none;
	background-color: #343a40;


	position: fixed;
	top: 0px; left: 100%; right: 0px; bottom: 0px;
	z-index: 9999;

	transition: $durationTransition;
	&.active {
		display: block;
		left: 0px;
		transition: $durationTransition;
	}
	.navigation__mobile__content {
		height: 100%;
	}
	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.navigation__item {
			margin: 12px;
			font-size: $mainSizeFont * 1.8;
			line-height: 140%;
			padding-bottom: 12px;
			color: #fff;
			border-bottom: 3px solid transparent;
			transition: $durationTransition;
			&:hover {
				color: $mainColor;
			}
		}
	}
}
.logo {
	display: block;
	max-width: 230px;
	img {
		width: 100%;
	}
}
.burger {
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	
	cursor: pointer;

	position: relative;
	span {
		display: block;
		height: 3px;
		background-color: #fff;
		width: 100%;
		&:nth-child(2) {
			width: 75%;
		}
		&:last-child {
			width: 90%;
		}
	}
	&.active {
		span {
			position: absolute;
			left: 50%;
			top: 50%;
			transform-origin: center;
			&:first-child {
				transform: rotate(45deg) translate(-50%, -50%);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:last-child {
				transform: rotate(135deg) translate(-50%, -50%);
			}
		}
	}
}
header {
	
	.navigations {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			display: flex;
			align-items: center;
			.logo__header {
				padding-left: 13px;
				font-family: "Rockwell Extra Bold";
				font-size: 1.8rem;
				line-height: 22px;
				letter-spacing: 0.03em;
				text-transform: uppercase;
				color: $mainTextColor;
			}
			@media (max-width: 991px) {
				width: 40px;
			}
		}

		ul {
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			li {
				a {
					padding: 0 16px;
					font-family: "Roboto";
					font-style: normal;
					font-weight: normal;
					font-size: 1.8rem;
					line-height: 21px;
					color: #303030;
					:hover {
						text-decoration: none;
						color: inherit;
					}
				}
			}
			.navigation__line {
				position: absolute;
				display: block;
				height: 4px;
				background-color: $mainTextColor;
				left: 50%; bottom: -500%;
				transition: all 0.5s;
				padding: 0;
			}
		}
		.header__phone__wrap {
			display: flex;
			align-items: center;
		}
		.header__phone {
			font-family: "Roboto";
			font-style: normal;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 21px;
			color: $mainTextColor;
			padding-left: 8px;
		}
		@media (max-width: 991px) {

		}
	}

	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transform: scale(1.5);
	}
	.hamRotate.active {
		transform: rotate(45deg) scale(1.5);
	}
	.hamRotate180.active {
		transform: rotate(180deg);
	}
	.line {
		fill:none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: #fff;
		stroke-width: 5.5;
		stroke-linecap:round;
	}
	.ham8 .top {
		stroke-dasharray: 40 160;
	}
	.ham8 .middle {
		stroke-dasharray: 40 142;
		transform-origin: 50%;
		transition: transform 400ms;
	}
	.ham8 .bottom {
		stroke-dasharray: 40 85;
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
	}
	.ham8.active .top {
		stroke-dashoffset: -64px;
	}
	.ham8.active .middle {
		transform: rotate(90deg);
	}
	.ham8.active .bottom {
		stroke-dashoffset: -64px;
	}
	.btn__menu {
	background: none;
	border: none;
	min-width: 40px;
	min-height: 40px;
	padding: 0;
	cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}
.navigation__content {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 110%;
	z-index: 999;
	background-color: #fff;
	overflow-x: hidden;
	transition: all 0.5s;


	&.active {
		left: 0;
		transition: all 0.5s;
	}
	.navigation__wrap {
		margin: 5px auto;
		width: 580px;

	  .navigation__menu {
			margin: 0 auto;
			position: relative;
			transition: background-color .4s linear;
			padding: 0;
			color: #fff;

			display: flex;
			flex-direction: column;
			justify-content: center;
		  &:hover {
			  transition: background-color .4s linear;
		  }
		  .navigation__menu__item {
			  display: block;
			  box-sizing: border-box; }
		  .navigation__menu__link {
			  display: block;
			  text-align: center;
			  text-transform: uppercase;
			  cursor: pointer;
			  letter-spacing: 1px;
			  transition: transform .4s linear;
			  font-size: 1.8rem;
			  line-height: 21px;
			  color: #303030;
			  text-decoration: none;
			  padding: 5px 0;
			  box-sizing: border-box;
		  }
		  .navigation__menu__link:hover {
			  color: #fff;
			  background-color: $mainTextColor;
			  transition: transform .4s linear;
		  }
		  .navigation__menu__phone {
			  margin-top: 4rem;
			  display: flex;
			  justify-content: center;
			  .header__phone {
				  font-family: "Roboto";
				  font-style: normal;
				  font-weight: 500;
				  font-size: 1.8rem;
				  line-height: 21px;
				  color: $mainTextColor;
				  padding-left: 8px;
			  }
		  }
	  }
  }
	li a {
		padding: 10px 0;
		font-family: "Roboto";
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 21px;
		color: #303030;
		:hover {
			text-decoration: none;
			color: inherit;
		}
	}
}